body {
  background-color: #861581;
}
.todo-input::placeholder {
  color: silver;
}
.TodoWrapper {
  margin-top: 1%;
  text-align: center;
  padding-top: 1%;
}
.TodoForm {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.todo-input {
  margin-top: 3%;
  background: rgb(126, 60, 170);
  padding: 0.45rem;
  margin-bottom: 3%;
  width: 30%;
  border-radius: 5px;
}
.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  margin-top: 3%;
  cursor: pointer;
  margin-bottom: 3%;
  border-radius: 5px;
  width: 13%; 
}
.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c5255a;
  color: #fff;
  padding: 0.05rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 19%;
  margin-left: 19%;
}
.completed {
  color: #c1a9fd;
  text-decoration: line-through;
}
.fa-trash {
  margin-left: 1.5rem;
}
